@import '_reset';
@import '_transitions';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Gabarito variable', sans-serif;
  font-display: block;
}

body {
  overflow-x: hidden;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

p {
  max-width: 65ch;
}

button,
input[type='submit'] {
  transition: all 0.4s;

  &:hover {
    filter: saturate(80.4%);
  }
}
